.home-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-container{
  min-height: 100vh;
  background-image: url('../images/main-main.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-header-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.header-title{
  font-size: 35px;
  margin: 0;
  color: white;
  text-align: center;
  flex: 2;
  margin-top: 16px;
}

.highlight-cosmic {
  color: #189d88;
}

.home-nav {
  display: flex;
  width: fit-content;
  justify-content: flex-end;
}

.home-nav-links{
  display: flex;
  list-style: none;
  padding: 0;
}

.home-nav-link a {
  margin: 0 18px;
  text-decoration: none;
  color: white;
  font-size: 23px;
}

.home-nav-link a:hover {
  color: #5ad1e6;
}

.gradient-circles {
  display: flex;
  align-items: flex-end;
}

.gradient-circles img {
  width: 55px;
  height: 55px;
}

.home-list img{
  width: 100px;
}

.home-nav-links {
}

.home-second-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin-top: 80px;
}

.home-second-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 45px;
  margin-left: 50px;
}

.home-second-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.home-list {
  display: flex;
  align-items: center;
  margin: 10px 0;
  margin-top: 0;
  position: relative;
  bottom: 70px;
  margin-top: 12px;
  left: 10px;
}

.home-list p {
  font-size: 27px;
}

.home-list img {
  margin-right: 10px;
  width: 120px;
}

.list-in {
  margin-left: 80px;
}

.home-second-right img {
  width: 700px;
}

@media (max-width: 1700px) {
  .home-header-content {
    flex-direction: column-reverse;
  }

  .header-title {
    margin-top: 40px;
  }
}

@media(max-width: 2560px) {

  .highlight-title {
    font-size: 40px;
    color: #189d88;
  }

  .home-nav-link a{
    font-size: 30px;
  }

  .home-nav-links {
  }

  .home-list img {
    width: 180px;
  }

  .home-list p {
    font-size: 30px;
  }

  .home-second-left {
    margin-left: 14%;
  }

  .canvas-styles {
    width: 800px;
    height: 600px; 
    position: absolute;
    top: 150px;
    left: 150px;
    z-index: 1;
  }
}


@media (max-width: 1990px) {
  .home-second-left {
    margin-left: 10%;
  }
}

@media (max-width: 1600px) {
  .home-second-left {
    margin-left: 4%;
  }

  .home-list img {
    width: 130px;
  }

  .home-list p {
    font-size: 25px;
  }
}

@media (max-width: 1300px) {
  .home-second-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .list-in {
    margin-left: 0;
  }
}

/* Styles for Hamburger Menu */
.home-hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  z-index: 1001;
  position: absolute;
  top: 20px;  /* Adjust to your preferred vertical position */
  left: 20px; /* Position it on the left side */
}

.home-hamburger .home-bar {
  height: 3px;
  width: 100%;
  background-color: white; /* Change to black for better visibility */
  margin: 4px 0;
}

/* Styles for Hamburger Menu */
.home-hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 30px;
  z-index: 1000; /* Ensures it's on top of other content */
}

.home-hamburger .home-bar {
  height: 3px;
  width: 100%;
  background-color: white;
  margin: 4px 0;
  font-size: 30px;
}

/* Hide the nav links on smaller screens */
@media (max-width: 990px) {
  .home-nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0; /* Move to the left side */
    background-color: white; /* Set background color to white */
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow for a nice effect */
    width: 100%;
  }

  .home-nav-links.open {
    display: flex; /* Show the menu when open */
  }

  .home-hamburger {
    display: flex; /* Show hamburger menu on smaller screens */
    z-index: 1000;
  }

  .home-nav-link a {
    color: black; /* Use black text for better contrast on white background */
    font-size: 20px;
    margin-bottom: 10px;
    text-align: left; /* Align text to the left */
    cursor: pointer;

  }

  .home-nav-link {
    padding: 10px;
  }

  .home-second-container,
  .home-list {
    margin-top: 100px;
  }

  .uncover h1 {
    font-size: 25px;
  }

  .highlight-cosmic {
    font-size: 25px;
  }
}

@media(max-width: 425px) {
  .header-title {
    margin-top: 70px;
    font-size: 20px;
  }

  .highlight-title {
    font-size: 20px;
  }

  .home-list img {
    width: 100px;
  }

  .home-list p {
    font-size: 18px;
  }

  .uncover h1 {
    font-size: 20px;
  }

  .highlight-cosmic {
    font-size: 20px;
  }
}