.quiz-container {
  width: 900px;
  margin: auto;
  margin-top: 90px;
  margin-bottom: 50px;
  color: white;
  box-shadow:  0 5px 15px rgba(0, 0, 0, 0.5);
  transition: all 0.3s linear;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  padding: 40px 50px;
}

.quiz-container h1 {
  color: #5ad1e6;
}

.quiz-container hr {
  height: 2px;
  border: none;
  background-color: #707070;
  width: 100%;
}

.quiz-container h2 {
  font-size: 27px;
  font-weight: 500;
}

.quiz-container ul li {
  display: flex;
  align-items: center;
  height: 80px;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #686868;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}

.quiz-container button {
  margin: auto;
  width: 250px;
  height: 65px;
  background-color: #5ad1e6;
  font-size: 25px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  transition:all 0.3s linear ;
}

.quiz-container button:hover {
  background-color: #5a63e6;
}

.quiz-container .quiz-index {
  margin: auto;
  font-size: 18px;
}

.quiz-container .correct {
  background-color: #39f3a9;
  color: black;
  border: #00d397;
}

.quiz-container .incorrect {
  background: #f54040;
  border-color: #f51919;
}

@media(max-width: 2560px) {
  .quiz-container {
    /* margin-left: 600px; */
  }  

  .quiz-container h1 {
    font-size: 40px;
  }

  .quiz-container h2 {
    font-size: 30px;
  }

  .quiz-container ul li {
    font-size: 25px;
  }
}

@media(max-width: 1990px) {
  .quiz-container h1 {
    font-size: 35px;
  }

  .quiz-container h2 {
    font-size: 25px;
  }

  .quiz-container ul li {
    font-size: 20px;
  }
}

@media (max-width: 1070px) {
  .quiz-container {
    max-width: 600px;
  }
}

@media (max-width: 768px) {
  .quiz-container {
    max-width: 400px;
  }

  .quiz-container h1 {
    font-size: 25px;
  }

  .quiz-container h2 {
    font-size: 20px;
  }

  .quiz-container ul li {
    font-size: 17px;
  }
}

@media(max-width:425px) {
  .quiz-container{
    max-width: 250px;
  }

  .quiz-container h1 {
    font-size: 17px;
  }

  .quiz-container h2 {
    font-size: 15px;
  }

  .quiz-container ul li {
    font-size: 14px;
    width: 230px;
    margin-right: 30px;
  }

  .quiz-container ul {
    position: relative;
    right: 50px;
  }

  .quiz-container button {
    width: 200px;
    font-size: 20px;
  }
}