.science-insight {
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000000, #222222);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000000, #222222); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.science-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 0;
}

.science-container-first {
  height: 100%;
}

.science-container-first, .science-container-right {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.science-container-p {
  width: 40vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 70px;
}

.science-container-p h4 {
  font-size: 22px;
  color: #5ad1e6;
}

.science-container-p p {
  font-size: 16px;
}

.science-container-second h1{
  color: #5ad1e6;
  margin-left: 70px;
}

.science-container-first .science-container-img,
.science-container-right .science-container-img {
  display: flex;
  gap: 80px;
  width: 1000px;
  margin-left: 50px;
  margin-top: 90px;
}

.science-container-first .science-container-img img,
.science-container-right .science-container-img img {
  width: 300px;
  height: auto;
}


.science-container-first {
  flex-direction: row;
}

.science-container-right {
  flex-direction: row-reverse;
}

#lefty{
  width: 400px;
  height: 400px;
  margin-top: 100px;
}

#righty {
  width: 500px;
  height: 600px;
  border: 1px solid rgb(128, 128, 128);
}

.science-container-second {
  display: flex;
  flex-direction: column;
}

.second-lefty{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  gap: 150px;
  margin-top: 50px;
}

.second-righty {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 100px;
  margin-right: 100px;
  gap: 150px;
  margin-top: 50px;
}

.second-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-left p {
  width: 35vw;
  font-size: 25px;
}

.second-left h4 {
  font-size: 30px;
}

.satel {
  margin-right: 50px;
}

#right-text {
  margin-right: 50px;
}


.second-right {
  width: 800px;
}

#mesame-satel {
  margin-left: 60px;
}

#gps {
  margin-right: 60px;
}


.last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  width: 70vw;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  
}
.last-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.last-second h4 {
  font-size: 30px;
}

.last-second p {
  font-size: 25px;
}

@media (max-width:2560px) {
  .science-container-first {
    justify-content: flex-start;
  }

  .science-container-p h4 {
    font-size: 30px;
  }

  .science-container-p {
    width: 40vw;
  }

  .science-container-p p {
    font-size: 25px;
  }

  .science-container-first .science-container-img {
    width: 40vw;
    margin-left: 150px;
    margin-top: 300px;
  }

  #lefty {
    width: 500px;
    height: 500px;
  }

  #righty {
    width: 600px;
    height: 700px;
  }

  .science-container-first .science-container-img {}

  .science-container-second {
    margin-top: 200px;
  }

  .second-lefty {
    /* margin-right: 500px; */
    gap: 400px;
  }

  .second-righty {
    gap: 400px;
  }

  .science-container-second h1 {
    /* margin-left: 150px; */
  }

  .last {
    /* margin-left: 200px; */
  }

  .last-second p {
    font-size: 20px;
  }
}

@media (max-width: 1990px) {
  .science-container-p h4 {
    font-size: 20px;
  }

  .science-container-p p {
    font-size: 17px;
  }

  .science-container-first .science-container-img {
    margin-left: 15px;
    margin-top: 150px;

  }

  .science-container-img {
  }

  #lefty{
    width: 400px;
    height: 400px;
    margin-top: 100px;
  }
  
  #righty {
    width: 500px;
    height: 600px;
  }

  .science-container-second h1 {
    font-size: 30px;
  }

  .second-left h4 {
    font-size: 27px;
  }

  .second-left p {
    font-size: 23px;
  }

  #right-text {
    margin-right: 0;
    margin-left: 50px;
  }

  #mesame-satel {
    margin-left: 0;
  }

  .second-lefty {
    /* margin-right: 400px; */
  }

  .last {
    /* margin-left: 100px; */
  }
}

@media (max-width: 1600px) {
  #lefty {
    width: 350px;
    height: 400px;
  }

  #righty {
    width: 350px;
    height: 500px;
  }

  .science-container-p {
    width: 35vw;
  }

  .science-container-first .science-container-img {
    gap: 30px;
  }
}

@media(max-width: 1440px) {
  .science-container-first .science-container-img {
    margin-left: 30px;
  }

  /* #lefty {
    width: 22vw;
  }

  #righty {
    width: 25vw;
  } */

  .second-lefty {
    gap: 100px;
  }

  .second-righty {
    gap: 100px;
  }

  .science-container-first {
    flex-direction: column;
    height: 100%;
  }

  .science-container-p {
    width: 80vw;
    margin: 0 auto;
  }

  .science-container-first .science-container-img {
    margin: 0 auto;
    margin-left: 200px;
    width: 80vw;
    gap: 40px;
    margin-top: 60px;
  }

  #lefty {
    width: 30vw;
    height: 400px;
  }

  #righty {
    width: 30vw;
    height: 600px;
  }
}

@media(max-width: 1070px) {
  .science-container-first {
    flex-direction: column;
    height: 100%;
  }

  .science-container-p {
    width: 80vw;
    margin: 0 auto;
  }

  .science-container-first .science-container-img {
    /* margin-top: 0; */
    margin: 0 auto;
    width: 80vw;
    gap: 40px;
    margin-top: 60px;
  }

  #lefty {
    width: 37vw;
    height: 400px;
  }

  #righty {
    width: 37vw;
    height: 600px;
  }
  
  .science-container-second {
    margin-top: 50px;
  }

  .second-lefty {
    flex-direction: column;
  }

  .second-righty {
    flex-direction: column-reverse;
  }

  .second-left p {
    width: 70vw;
  }

  .gps {
    margin-left: 100px;
  }

  .second-lefty img {
    width: 500px;
    margin: 0 150px;
  }

  .second-righty img {
    width: 500px;
    margin: 0 150px;
  }

  .science-container-p h4 {
    font-size: 20px;
  }

  .science-container-p p {
    font-size: 17px;
  }

  .science-container-second h1 {
    font-size: 20px;
    margin: 10px auto;
  }

  #mesame-satel {
    margin-left: 150px;
    margin-right: 150px;
  }
}

@media(max-width: 768px) {
  .science-container-p h4 {
    font-size: 20px;
  }

  .science-container-p p {
    font-size: 17px;
  }

  .science-container-second h1 {
    font-size: 20px;
    margin: 10px auto;
  }

  .second-left h4 {
    font-size: 20px;
  }

  .second-left p {
    font-size: 17px;
  }

  .last-second h4{
    font-size: 20px
  }

  .last-second p {
    font-size: 17px;
  }

  #gps {
    margin-right: 0px;
  }

  .science-container-first .science-container-img {
    flex-direction: column;
    width: auto;
  }

  #lefty {
    width: 50vw;
    height: 300px;
  }

  #righty {
    width: 50vw;
    height: 500px;
  }

  .second-right{
    width: 768px;
  }

  .second-righty img {
    width: 300px;
    margin: 0 230px;
  }

  .second-lefty img {
    width: 300px;
    margin: 0 230px;
  }

  #mesame-satel {
    margin: 0 230px;
  }
}

@media(max-width: 425px) {
  #righty {
    height: 300px;
  }

  #lefty {
    height: 200px;
  }

  .science-container-p h4 {
    font-size: 17px;
  }

  .science-container-p p {
    font-size: 15px;
  }

  .science-container-second h1 {
    font-size: 17px;
  }

  .second-left h4 {
    font-size: 17px;
  }

  .second-left p {
    font-size: 15px;
    width: 80vw;
  }

  .last-second h4 {
    font-size: 17px;
  }
}